# 依赖
node_modules
dist
dist-ssr
*.local

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 环境变量
.env.local
.env.*.local

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 类型生成文件
src/types/auto-imports.d.ts
src/types/components.d.ts
